<% include partials/header %>
<div class="ui container">
<div class="ui segment">
<h1>Update Blog</h1>
<form class="ui form" method="POST" action="/blogs/<%=blog._id%>?_method=PUT">
    <div class="field">
        <lable for="title">Title</lable>
        <input type="text" id="title" name="blog[title]" value="<%= blog.title%>">
    </div>
    <div class="field">
         <lable for="image">Image</lable>
         <input type="text" id="image" name="blog[image]" value="<%= blog.image%>">
    </div>
    <div class="field">
        <lable for="content">Content</lable>
        <textarea name="blog[content]" id="content"><%=blog.content%></textarea>
    </div>
    <button class="ui blue inverted button" >Update</button>
</div>
</form>
</div>
<% include partials/footer %>